U_HOST=change_me
U_LOGIN=change_me
U_DB_PASSWD=change_me
SECRET_KEY=change_me
YOUTUBE_DATA_API_V3_KEYS=change_me
DEFAULT_KEYWORD=change_me
TIMEZONE_OFFSET=3
YOUTUBE_COOLDOWN_IN_MINUTES=10
TELEGRAM_API_ID=12345
TELEGRAM_API_HASH=change_me
TELEGRAM_BOT_TOKEN=12345:change_me
TELEGRAM_ADMIN_GROUP_ID=09876
DEFAULT_DJANGO_SETTINGS=config.settings.test_settings
MAIN_TELEGRAM_API_ID=1234567
MAIN_TELEGRAM_API_HASH=change_me_06b7a2473b75d028
MAIN_PHONE=+1200000000
MAIN_PASSWORD=change_me
MAIN_GROUP_ID=10000000
MAIN_POST_ID=5837